
<body>
    
    <div class="bg-dark" id="main_container">
        <div id="main_background">
            <div id="content">
                <app-navbar></app-navbar>
                <section id="data" class="container">
                    <div class="row justify-content-center align-items-center" id="header">
                        <p id="header_text">{{user.username}}</p>
                    </div>
                    <div class="row" id=data_container>
                        <div id="rating" class="col-6 data_section">
                            <div class="d-flex justify-content-center">
                                <p class="rating_title rating_vertical_line col-4">Bullet</p>
                                <p class="rating_title rating_vertical_line col-4">Blitz</p>
                                <p class="rating_title col-4">Rapid</p>
                            </div>

                            <hr class="container-fluid">

                            <div class="d-flex justify-content-center">
                                <div class="rating_vertical_line col-4">
                                    <p class=rating_category >Rating</p>
                                    <p class=rating_value>{{user.rating.bulletActualRating}}</p>
                                </div>
                                <div  class="rating_vertical_line col-4">
                                    <p class=rating_category>Rating</p>
                                    <p class=rating_value>{{user.rating.blitzActualRating}}</p>
                                </div>
                                <div class="col-4">
                                    <p class=rating_category>Rating</p>
                                    <p class=rating_value>{{user.rating.rapidActualRating}}</p>
                                </div>
                            </div>
                            
                            <hr class="container-fluid">

                            <div class="d-flex justify-content-center  flex-fill">
                                <div class="rating_vertical_line col-4">
                                    <p class=rating_category >Record</p>
                                    <p class=rating_value>{{user.rating.bulletMaxRating}}</p>
                                </div>
                                <div  class="rating_vertical_line col-4">
                                    <p class=rating_category>Record</p>
                                    <p class=rating_value>{{user.rating.blitzMaxRating}}</p>
                                </div>
                                <div class="col-4">
                                    <p class=rating_category>Record</p>
                                    <p class=rating_value>{{user.rating.rapidMaxRating}}</p>
                                </div>
                            </div>

                        </div>
                        <div id="user" class="col-6 data_section">
                            <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="container-fluid justify-content-center align-items-center pt-3 pb-3">

                                <div class="form-row row justify-content-center align-items-stretch">
                                    <div class="data_field form-group d-flex justify-content-center align-items-center flex-fill">
                                        <label for="_name" class="col-6">Name:</label>
                                        <input type="text" name="_name" class="form-control col-6" [(ngModel)]="user.name" #_name="ngModel" placeholder="name..." 
                                        [ngClass]="{'is-invalid': _name.invalid}" _name required>                    
                                    </div>
                                </div>
            
                                <div class="form-row row justify-content-center align-items-stretch">
                                    <div class="data_field form-group d-flex justify-content-center align-items-center flex-fill">
                                        <label for="_name" class="col-6">Surname:</label>
                                        <input type="text" name="surname" class="form-control col-6" [(ngModel)]="user.surname"  #surname="ngModel" placeholder="surname..." 
                                        [ngClass]="{'is-invalid': surname.invalid}" surname required>                    
                                    </div>
                                </div>
                
                                
            
                                <div class="form-row row justify-content-center align-items-stretch">
                                    <div class="data_field form-group d-flex justify-content-center align-items-center flex-fill">
                                        <label for="_name" class="col-6">Email:</label>
                                        <input type="email" name="email" class="form-control col-6" [(ngModel)]="user.email" #email="ngModel" placeholder="email..." 
                                        [ngClass]="{'is-invalid': email.invalid}" email required>                    
                                    </div>
                                </div>

                                <div class="form-row row justify-content-center align-items-stretch">              
                                    <div class="data_field form-group d-flex justify-content-center align-items-center flex-fill">
                                        <label for="_name" class="col-6">New Password:</label>
                                        <input type="password" name="new_password" class="form-control col-6" [(ngModel)]="user.password" #new_password="ngModel" placeholder="new password..." 
                                        [ngClass]="{'is-invalid': new_password.invalid}" new_password required>
                                    </div>
                                </div>

                                <div class="form-row row justify-content-center align-items-stretch">              
                                    <div class="data_field form-group d-flex justify-content-center align-items-center flex-fill">
                                        <label for="_name" class="col-6">Actual Password:</label>
                                        <input type="password" name="actual_password" class="form-control col-6" [(ngModel)]="user.password" #actual_password="ngModel" placeholder="actual password..." 
                                        [ngClass]="{'is-invalid': actual_password.invalid}" actual_password required>
                                    </div>
                                </div>

                                
                
                                <div class="form-row row justify-content-center align-items-center flex-fill">
                                    <div class="form_field form-group justify-content-center align-items-center flex-fill">
                                        <button class="btn btn-primary darkblue" [disabled]="!(userForm.valid)">
                                            Update Data
                                        </button>
                                    </div>
                                </div>
                            
                            </form>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
</body>