
<body>
    
    <div class="bg-dark" id="main_container">
        <div id="main_background">
            <div id="content">
                <app-navbar></app-navbar>
                <section id="data" class="container">
                    <article class="child user">
                        <div class="_9vh _header">
                            <div class="d-flex justify-content-center align-items-center" id="username">
                                <a id="username_text">{{user.username}}</a>
                            </div>
                        </div>

                        <div id="rating">
                            <div class="d-flex justify-content-center">
                                <p class="rating_title rating_vertical_line col-4">Bullet</p>
                                <p class="rating_title rating_vertical_line col-4">Blitz</p>
                                <p class="rating_title col-4">Rapid</p>
                            </div>

                            <hr class="container-fluid">

                            <div class="d-flex justify-content-center">
                                <div class="rating_vertical_line col-4">
                                    <p class=rating_category >Rating</p>
                                    <p class=rating_value>{{user.rating.bulletActualRating}}</p>
                                </div>
                                <div  class="rating_vertical_line col-4">
                                    <p class=rating_category>Rating</p>
                                    <p class=rating_value>{{user.rating.blitzActualRating}}</p>
                                </div>
                                <div class="col-4">
                                    <p class=rating_category>Rating</p>
                                    <p class=rating_value>{{user.rating.rapidActualRating}}</p>
                                </div>
                            </div>
                            
                            <hr class="container-fluid">

                            <div class="d-flex justify-content-center  flex-fill">
                                <div class="rating_vertical_line col-4">
                                    <p class=rating_category >Record</p>
                                    <p class=rating_value>{{user.rating.bulletMaxRating}}</p>
                                </div>
                                <div  class="rating_vertical_line col-4">
                                    <p class=rating_category>Record</p>
                                    <p class=rating_value>{{user.rating.blitzMaxRating}}</p>
                                </div>
                                <div class="col-4">
                                    <p class=rating_category>Record</p>
                                    <p class=rating_value>{{user.rating.rapidMaxRating}}</p>
                                </div>
                            </div>

                        </div>
                    </article>

                    <article class="child new_challenge">
                        <div class=" _6vh _header">
                            New Challenge
                        </div>


                        <div id="search_params" class=" d-flex flex-column justify-content-top">

                            <div id="search_user_bar" class="d-flex flex-row justify-content-center">
                                <div id="target_user" class=" justify-content-center align-items-center col-10 d-flex rounded_border_m">
                                    <input type="" id="target_user_input" name="username" class="form-control" [(ngModel)]="targetUser" #username="ngModel" placeholder="challenge user..."> 
                                    <img id="search_icon" src="./assets/images/lupa.png">             
                                </div>
                                <div class=" justify-content-center align-items-center col-2 d-flex">
                                    <input class="col-3 col-offset-3" type="checkbox"
                                        [checked]="targetAllUsers"
                                        (change)="targetAllUsers = !targetAllUsers" >
                                    <p class="text-white col-offset-1 col-5 text_center">All</p>             
                                </div>
                            </div>

                            <div id="rating_params" class="d-flex flex-row justify-content-end">
                                <div class="col-md-2 col-lg-3 d-flex flex-row justify-content-center align-items-center">
                                    <p id="max_diff_text">Max diff:</p>
                                </div>
                                <div class="col-4 col-xl-2 col-lg-3 d-flex flex-row justify-content-end align-items-center">
                                    <select id="min_selector" name="minRating" [(ngModel)]="minRatingTarget" class="rounded_border_m">
                                        <option *ngFor="let rating of minRatingsList" [ngValue]="rating">
                                            {{ rating }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-4 col-xl-2 col-lg-3 d-flex flex-row justify-content-end align-items-center">
                                    <select id="max_selector" name="maxRating" [(ngModel)]="maxRatingTarget" class="rounded_border_m">
                                        <option *ngFor="let rating of maxRatingsList" [ngValue]="rating">
                                            +{{rating}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        

                        <section id="time_selection_container" class="container">
                            <div id="time_selection" class="container">
                                <article class="child_time time_1" (click)="newChallenge(0)" (mouseover)="selected[0]=true" (mouseout)="selected[0]=false" [ngClass]="selected[0] ? 'time_hover' : ''">1+0</article>
                                <article class="child_time time_2" (click)="newChallenge(1)" (mouseover)="selected[1]=true" (mouseout)="selected[1]=false" [ngClass]="selected[1] ? 'time_hover' : ''">3+0</article>
                                <article class="child_time time_3" (click)="newChallenge(2)" (mouseover)="selected[2]=true" (mouseout)="selected[2]=false" [ngClass]="selected[2] ? 'time_hover' : ''">3+2</article>
                                <article class="child_time time_4" (click)="newChallenge(3)" (mouseover)="selected[3]=true" (mouseout)="selected[3]=false" [ngClass]="selected[3] ? 'time_hover' : ''">10+0</article>
                                <article class="child_time time_5" (click)="newChallenge(4)" (mouseover)="selected[4]=true" (mouseout)="selected[4]=false" [ngClass]="selected[4] ? 'time_hover' : ''">15+5</article>
                                <article class="child_time time_6" (click)="newChallenge(5)" (mouseover)="selected[5]=true" (mouseout)="selected[5]=false" [ngClass]="selected[5] ? 'time_hover' : ''">25+10</article>
                            </div>
                        </section>
                    </article>

                    <article class="child challenges_recieved">
                        <div class="_6vh _header">                           
                            Challenges Recieved
                        </div>
                        <div id="challenges_recieved" class=" d-flex flex-column justify-content-top challenges_section">
                            <div id="challenges_recieved_titles" class="d-flex flex-row justify-content-center challenges_titles">
                                <div class="col-3 d-flex flex-column justify-content-center align-items-left challenge_title">
                                    Username
                                </div>
                                <div class="col-3 d-flex flex-column justify-content-center align-items-left challenge_title">
                                    Rating
                                </div>
                                <div class="col-6 d-flex flex-column justify-content-center align-items-left challenge_title">
                                    Time Control
                                </div>
                            </div>
                            <div id="challenges_recieved_list" class="challenges_container">
                                <ng-container id="challenges_recieved_container"  *ngFor="let challenge of challengesRecieved; let i=index">
                                    <div class="d-flex flex-row justify-content-center challenge_item">
                                        <div class="col-3 d-flex flex-column justify-content-center align-items-left challenge_field">
                                            {{challenge.user.username}}
                                        </div>

                                        <div class="col-3 d-flex flex-column justify-content-center align-items-left challenge_field">
                                            {{challenge.usedRatingToString()}}
                                        </div>

                                        <div class="col-3 d-flex flex-column justify-content-center align-items-left challenge_field">
                                            {{challenge.time.toString()}}
                                        </div>

                                        <div class="col-3 d-flex flex-column justify-content-center align-items-left">
                                            <ng-container *ngIf="challengesRecieved[i].status=='pending';else status">
                                                <p class="challenge_field challenge_status_link"><a href="#">Accept</a>/<a href="#">Decline</a></p>
                                            </ng-container>
                                            <ng-template #status>
                                                {{challengesRecieved[i].status}}
                                            </ng-template>
                                            
                                        </div>
                                    </div>
                                </ng-container>
                            </div>       
                        </div>
                    </article>

                    <article class="child challenges_sent">
                        <div class="_6vh _header">                           
                            Challenges Sent
                        </div>
                        <div id="challenges_sent" class=" d-flex flex-column justify-content-top challenges_section">
                            <div id="challenges_sent_titles" class="d-flex flex-row justify-content-center challenges_titles">
                                <div class="col-3 d-flex flex-column justify-content-center align-items-left challenge_title">
                                    Username
                                </div>
                                <div class="col-3 d-flex flex-column justify-content-center align-items-left challenge_title">
                                    Rating
                                </div>
                                <div class="col-6 d-flex flex-column justify-content-center align-items-left challenge_title">
                                    Time Control
                                </div>
                            </div>
                            <div id="challenges_sent_list" class="challenges_container">
                                <ng-container id="challenges_sent_container"  *ngFor="let challenge of challengesSent; let i=index">
                                    <div class="d-flex flex-row justify-content-center challenge_item">
                                        <div class="col-3 d-flex flex-column justify-content-center align-items-left challenge_field">
                                            {{challenge.user.username}}
                                        </div>

                                        <div class="col-3 d-flex flex-column justify-content-center align-items-left challenge_field">
                                            {{challenge.usedRatingToString()}}
                                        </div>

                                        <div class="col-3 d-flex flex-column justify-content-center align-items-left challenge_field">
                                            {{challenge.time.toString()}}
                                        </div>

                                        <div class="col-3 d-flex flex-column justify-content-center align-items-left challenge_field">
                                            {{challengesSent[i].status}}
                                        </div>
                                    </div>
                                </ng-container>
                            </div>       
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
</body>