img{
    min-width: max(5vw , 6vh);
    min-height:max(5vw , 6vh);
    max-width: max(5vw , 6vh);
    max-height: max(5vw , 6vh);
}


nav{
    min-height:10vh;
    max-height: 10vh;
    background-color: #0A131E;
}

/*#app_name_container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}*/

#app_name{
    font-size: max(2.75vw , 3.3vh);
    font-weight: bold;
    margin-left: 3.5vw;
    color:white;
    text-align: center;
}
/*

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand">Chess Tower</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#home" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="menu">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a routerLink="/app-home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/app-profile" class="nav-link">Profile</a>
            </li>
        </ul>
    </div>
</nav>

*/