<nav class="navbar navbar-expand navbar-dark">
    <a class="navbar-brand">
        <a class="navbar-item">
            <img src="assets/images/app_icon.png">
        </a>
        
        
    </a>

    <a id="app_name">Chess Rook</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="menu">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a routerLink="/app-home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/app-profile" class="nav-link">Profile</a>
            </li>

            <li class="nav-item">
                <a routerLink="/app-game" class="nav-link">Game Example</a>
            </li>        
        </ul>
    </div>
</nav>
